Olá, <strong>{{ deliveryman }}</strong>
<p>Uma entrega destinada a você foi cancelada, veja os detalhes abaixo:</p>
<p>
<strong>Produto: </strong> {{ product }} <br/>
<strong>Destinatário: </strong> {{ recipient }} <br/>
</p>

